VITE_ORDER_API_BASE_URL=http://localhost:8080
VITE_INVENTORY_API_BASE_URL=http://localhost:8081
VITE_PAYMENT_API_BASE_URL=http://localhost:8082
VITE_GRAFANA_URL=http://localhost:3000
VITE_ACCESS_API_BASE_URL=/access-api
VITE_ACCESS_GATE_ENABLED=true
